<h1 class="mt-3">Редактирование пользователя</h1>

<%= render 'form' %>

<div class="mt-3">
  <%#= link_to 'Просмотр', @user, class: 'btn btn-primary' %>

  <%= link_to 'Вернуться к списку пользователей', users_path, class: 'btn btn-secondary' %>
</div>
