<!--app/views/shared/_flash_messages.html.erb-->
<%#= turbo_stream.append 'flash-messages' do %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
<%# end %>

