<!-- edit_text_content.html.erb -->

<%= form_for [@uploaded_file.project, @uploaded_file], url: update_text_content_project_file_path(@uploaded_file.project, @uploaded_file), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :text_content %>
    <%= f.text_area :text_content, class: 'form-control', rows: 5 %>
  </div>
  <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
<% end %>
