<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @uploaded_file.content.filename %>
</p>

<%= link_to 'Delete', project_file_path(@project, @uploaded_file), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', project_files_path(@project) %>
