<h1>Comparison Results</h1>

<% @results.each do |line, match| %>
  <div>
    <strong>Line:</strong> <%= line %><br>
    <strong>Match:</strong> <%= match %>
  </div>
<% end %>

<%= link_to 'Back', @project %>
