<!--app/views/projects/show.html.erb-->
<h1>Группа документов: <%= @project.name %></h1>
<%= render 'form', project: @project %>

<%#= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %>
<%#= link_to 'На главную', projects_path, class: "btn btn-secondary" %>



